.comment__author {
	font-size: 14px;
	line-height: 24px;
	font-weight: 900; 
	margin: 0;
}

@media screen and (max-width: 1023px) {
  .comment__author {
		order: 0;
		margin-bottom: 24px;
		text-align: center;
  }
}
