.video__duration {
	font-size: 12px;
	line-height: 13px;
	letter-spacing: 0.3em;
	margin-bottom: 12px;
	font-weight: 500;
	z-index: 2;
	position: relative;
}

@media screen and (max-width: 1023px) {
	.video__duration {
		margin-bottom: 8px;
	}
}
