.lead__subtitle {
	margin: 0 auto 75px;
	font-size: 30px;
	line-height: 36px;
	max-width: 583px;
	color: #fff;
	text-align: center;
}

@media screen and (max-width: 1279px) {
	.lead__subtitle {
		margin: 0 auto 65px;
	}
}

@media screen and (max-width: 1023px) {
	.lead__subtitle {
		max-width: 645px;
	}
}

@media screen and (max-width: 767px) {
	.lead__subtitle {
		max-width: 355px;
		font-size: 16px;
		line-height: 24px;
		padding: 0 16px;
		margin: 0 auto 31px;
	}
}

@media screen and (max-width: 375px) {

}